# Carpetas de compilación
bin/
obj/
.vs/

# Archivos de configuración de usuario
*.user
*.userosv
*.suo
*.userprefs

# Archivos de caché del sistema
.DS_Store
Thumbs.db

# Logs y paquetes temporales
*.log
*.nupkg